.main-header {
  background-color: red($color: #000000);
  &__logo-container {
    height: 93px;
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 42px;
    .main-header__logo__link {
      height: 100%;
      width: auto;
      .main-header__logo-img {
        height: 100%;
        width: auto;
      }
    }
  }
}

.filter-buttons-container {
  display: flex;
  margin-top: 20px;
  .filter-button-container {
    border-radius: $common-border-radius;
    margin: 0 20px auto 0;
    &-primary {
      background-color: $primary;
    }
    &-secondary {
      background-color: $secondary;
    }
    &-tertiary {
      background-color: $tertiary;
    }
    .filter-button__input {
      display: none;
    }
    .dropdown-list {
      display: none;
    }
  }
  .opened {
    .btn {
      width: 100%;
      min-width: 240px;
    }
    .filter-button__input {
      display: block;
    }

    ::placeholder {
      color: $filter-btn-color;
      opacity: 50%;
    }
    flex-direction: column;
    position: relative;
    .filter-button__input {
      position: absolute;
      left: 19px;
      top: 0;
      height: calc($filter-button-height - 1px);
      width: 80%;
      border: none;
      font-weight: 700;
      color: $filter-btn-color;
      &:focus {
        outline: none;
      }
      &-primary {
        background-color: $primary;
      }
      &-secondary {
        background-color: $secondary;
      }
      &-tertiary {
        background-color: $tertiary;
      }
    }
    .dropdown-list {
      color: $filter-btn-color;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      max-height: 350px;
      width: 100%;
      max-width: calc($filter-button-width * 4);
      flex-direction: row;
      li {
        width: $filter-button-width;
        margin: 10px 20px;
        span {
          cursor: pointer;
        }
      }
    }
  }
}

.filter-tags {
  margin-top: 20px;
  .filter-tag {
    margin-right: 20px;
    &-ingredients {
      background-color: $primary;
    }
    &-appliances {
      background-color: $secondary;
    }
    &-ustensils {
      background-color: $tertiary;
    }
  }
}
.recipe-thumbs {
  display: flex;
  flex-wrap: wrap;

  .recipe-thumb {
    width: 33.333%;
    margin-top: 15px;
    // On va avoir 3 thumbs par lignes

    // Target les premieres thumbs de chaque ligne
    &:nth-of-type(3n + 1) {
      .card {
        margin-right: $recipe-thumb-card-margin;
      }
    }

    // Target les deuxiemes thumbs de chaque ligne
    &:nth-of-type(3n + 2) {
      .card {
        margin-left: calc($recipe-thumb-card-margin / 2);
        margin-right: calc($recipe-thumb-card-margin / 2);
      }
    }

    // Target les dernieres thumbs de chaque ligne
    &:nth-of-type(3n) {
      .card {
        margin-left: $recipe-thumb-card-margin;
      }
    }
  }
}
